/* Navbar */
.navbar-light .navbar-nav .logout-link:hover {
    color: #fe0000;
}


/* Swits */
.list-group-item {
    border: 1px solid #dee2e6;
    margin-bottom: 10px;
    border-radius: 8px;
}

.list-group-item a {
    color: #000000;
    text-decoration: none;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}

.list-group-item a:hover {
    color: #717171;
}

.list-group-item p {
    margin: 10px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}

.list-group-item img {
    height: 300px;
}