{% extends "switterapp/base.html" %} {% load static %}

{% block additional_styles %}
<link rel="stylesheet" href="{% static 'switterapp/add_swit_style.css' %}">
{% endblock %}


{% block content %}

<form method="POST" enctype="multipart/form-data" action="{% url 'switterapp:add_swit' %}" class="mb-3 custom-form">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.as_p }}
        <div class="text-danger">{{ form.errors.text }}</div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-secondary">Reset</button>
</form>

{% endblock %}
