{% extends "switterapp/base.html" %} {% load static %}

{% block additional_styles %}
<link rel="stylesheet" href="{% static 'switterapp/add_comment_style.css' %}">
{% endblock %}

{% block content %}

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'switterapp:detail_swit' swit_id %}" role="button">Go back to the swit</a></li>
        </ul>
    </div>
</nav>

<form method="POST" action="{% url 'switterapp:add_comment' swit_id %}" class="mb-3">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_text" class="form-label">Comment text:</label>
        {{ form.text }}
        <div class="text-danger">{{ form.errors.text }}</div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-secondary">Reset</button>
</form>

{% endblock %}
