<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Switter</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"/>
</head>
<body>
<main class="container">
    
    <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
        {% if user.is_authenticated %}
        <ul>
            <li><a href="{% url 'switterapp:add_swit' %}" role="button">Add swit</a></li>
        </ul>
        <ul>
            <li>Welcome <b>{{ user.username }}!</b></li>
            <li><a href="{% url 'users:my_profile' %}" role="button">Profile</a></li>
            <li><a href="{% url 'users:logout' %}" role="button">Logout</a></li>
        </ul>
        {% else %}
        <ul>
            <li><a href="{% url 'users:signup' %}" role="button">Sign Up</a></li>
            <li><a href="{% url 'users:login' %}" role="button">Login</a></li>
        </ul>
        {% endif %}
    </nav>
    

    {% load static %}
    {% for swit in swits %}
    <ul>
        <li>
            <a href="{% url 'switterapp:detail_swit' swit.id %}">{{ swit.text }}</a>
            <p>
                <img src="{% static 'images/like_btn.png' %}" width="30" height="30">{{ swit.likes }}
                <img src="{% static 'images/dislike_btn.png' %}" width="30" height="30">{{ swit.dislikes }}
            </p>
        </li>
    </ul>
    {% endfor %}
</main>
</body>
</html>
