{% extends "switterapp/base.html" %}

{% block content %}

<div>
    <h1><a href="{% url 'users:view_profile' user.id %}">{{user.username}}</a> - your profile settings</h1>
    {% if profile_form.avatar.value %}
      <a href="{{ profile_form.avatar.value.url }}" target="_blank">
        <img src="{{ user.profile.avatar.url }}" width="250" height="250" alt="Current Avatar">
      </a>
    {% endif %}
</div>

{% if messages %}
<div>
    {% for message in messages %}
    <div {% if message.tags %} class="alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <div class="col-md-5">
            <div class="form-group">
                <label class="small mb-1">Change Avatar:</label>
                {{ profile_form.as_p }}
                <span>{{ profile_form.errors.avatar }}</span>
            </div>
        </div>
    </div>
    <div class="grid">
        <button type="submit">Save Changes</button>
        <button type="reset" class="secondary">Reset</button>
    </div>

</form>

{% endblock content %}
