{% extends "switterapp/base.html" %} {% load static %}

{% block additional_styles %}
<link rel="stylesheet" href="{% static 'users/my_profile_style.css' %}">
{% endblock %}

{% block content %}

<div>
    <h1><a href="{% url 'users:view_profile' user.id %}">{{user.username}}</a> - your profile settings</h1>
    {% if profile_form.avatar.value %}
      <a href="{{ profile_form.avatar.value.url }}" target="_blank">
        <img src="{{ user.profile.avatar.url }}" width="250" height="250" alt="Current Avatar">
      </a>
    {% endif %}
</div>

{% if messages %}
<div>
    {% for message in messages %}
    <div {% if message.tags %} class="alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<form method="POST" enctype="multipart/form-data" class="mb-3 custom-form">
    {% csrf_token %}
    <div class="mb-3">
        <label class="small mb-1">Change Avatar:</label>
        <input type="file" name="{{ profile_form.avatar.name }}" id="{{ profile_form.avatar.attrs.id }}" accept="image/*">
        <div class="text-danger">{{ profile_form.errors.avatar }}</div>
    </div>


    <button type="submit" class="btn btn-primary">Save Changes</button>
    <button type="reset" class="btn btn-secondary">Reset</button>

</form>

{% endblock %}
