{% extends "switterapp/base.html" %}

{% block content %}

<nav class="navbar navbar-light bg-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="btn btn-secondary" href="{% url 'users:view_profile' user_id %}" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                </svg> &nbspGo back to the profile
            </a>
        </li>
    </ul>
</nav>

{% for follower in followers %}
<div class="card mb-3">
    <div class="card-body">
        <p class="card-text">
            <a class="user-profile-link" href="{% url 'users:view_profile' follower.follower.id %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                </svg> {{follower.follower.username}}
            </a>
        </p>
    </div>
</div>
{% endfor %}
{% endblock %}