{% extends "switterapp/base.html" %}

{% block content %}

<p>Author: {{profile.user.username}}</p>

<p>Followers: {{profile.followers}}</p>
<p>Follows: {{profile.follows}}</p>

{% if profile.following_allowed == True %}
    {% if profile.is_followed == False %}
    <p><a href="{% url 'users:follow_user' profile.user.id %}" role="button">Follow_btn</a></p>
    {% else %}
    <p><a href="{% url 'users:unfollow_user' profile.user.id %}" role="button">Unfollow_btn</a></p>
    {% endif %}
{% endif %}

<p>Avatar:</p>
{% if profile.avatar %}
    <a href="{{ profile.avatar.url }}" target="_blank">
        <img src="{{ profile.avatar.url }}" width="250" height="250" alt="avatar of user"/>
    </a>
{% endif %}

{% endblock content %}
